.spinner {
	--size: 16px;
	height: var(--size);
	width: var(--size);
	border-radius: 50%;
	border: solid 2px #333;
	border-top-color: transparent;
	animation: spin 1s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
